@use '~@angular/material' as mat;
@include mat.core();

$poc-primary: mat.define-palette(mat.$red-palette);
$poc-accent: mat.define-palette(mat.$blue-palette, A200, A100, A400);
$poc-warn: mat.define-palette(mat.$orange-palette);

.dark-theme {
  $poc-theme: mat.define-dark-theme(
    (
      color: (
        primary: $poc-primary,
        accent: $poc-accent,
        warn: $poc-warn,
      ),
    )
  );
  @include mat.all-component-themes($poc-theme);
}

.light-theme {
  $poc-theme: mat.define-light-theme(
    (
      color: (
        primary: $poc-primary,
        accent: $poc-accent,
        warn: $poc-warn,
      ),
    )
  );
  @include mat.all-component-themes($poc-theme);
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
